*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --size: 24px;
  --half-size: calc(var(--size) / 2);
  --quarter-size: calc(var(--size) / 4);
  --background-lightness: 10%;
  --foreground-lightness: 100%;
}

body {
  font-family: 'courier new', courier, monospace;
  background-color: hsl(0 0% var(--background-lightness));
  color: hsl(0 0% var(--foreground-lightness));
}

main>header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em;
}

section {
  padding: 1em 2em;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}

.contentContainer > aside {
  flex: 0 1 auto;
}

.help {
  color: hsl(0 0% var(--foreground-lightness) / 70%);
}

p {
  max-width: 30em;
}

.subSection {
  padding: 1em;
}

section>footer,
.subSection>footer {
  padding: 0 0.5em;
}

header,
footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: var(--size);
}

.controls {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: var(--half-size);
}

h3 {
  margin: 0;
}

button,
input[type=file]::file-selector-button {
  appearance: none;
  font: inherit;
  padding: 0 var(--quarter-size);
  color: hsl(0 0% var(--foreground-lightness) / 90%);
  background: none;
  border: 1px solid;
  border-color: hsl(0 0% var(--foreground-lightness) / 20%);
  border-radius: 0.25em;
}

button:hover,
.controls button:hover {
  cursor: pointer;
  background-color: hsl(0 0% var(--foreground-lightness) / 80%);
  color: hsl(0 0% var(--background-lightness));
  border-color: hsl(0 0% var(--foreground-lightness) / 80%);
}

label {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--size);
  font-weight: bold;
  white-space: nowrap;
}

label > input, label > select {
  justify-self: end;
  align-self: start;
}

label > div {
  padding-top: 6px;
}

label p.help {
  margin-top: 0;
  font-weight: normal;
  white-space: normal;
}

.options {
  width: 12em;
  padding: var(--quarter-size) var(--half-size);
  border: 1px solid hsl(0 0% var(--foreground-lightness) / 30%);
  margin-bottom: -1px;
}

.options label {
  grid-template-columns: auto 1fr;
  gap: var(--half-size);
  font-weight: normal;
}

.options input {
  width: auto;
  margin: 0;
}

input,
select {
  appearance: none;
  font-family: 'courier new', courier, monospace;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: 1px solid hsl(0 0% var(--foreground-lightness) / 30%);
  border-radius: 0;
  padding: var(--quarter-size) var(--half-size);
  margin-bottom: -1px;
  width: 12em;
}

input:focus {
  position: relative;
  z-index: 1;
}

input[type=number] {
  font-variant-numeric: tabular-nums;
  text-align: right;
}

input[type=number]::-webkit-textfield-decoration-container {
  gap: 0.5em;
}

input[type=checkbox] {
  appearance: none;
  margin: 0;
  position: relative;
  margin-bottom: -1px;
  font: inherit;
  height: 32px; /* empirical */
}

input[type=checkbox]:hover {
  cursor: pointer;
  background: hsl(0 0% var(--foreground-lightness) / 5%);
}

input[type="checkbox"]::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 8px;
  display: flex;
  width: 0.33em;
  height: 0.66em;
  transform: rotate(33deg);
}

input[type="checkbox"]:checked::after {
  border-right: 3px solid hsl(0 0% var(--foreground-lightness));
  border-bottom: 3px solid hsl(0 0% var(--foreground-lightness));
}

ul,
ol {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  list-style: none;
}

li {
  margin-bottom: 1em;
}

li>header {
  padding: 0 0.5em;
}

table {
  margin-bottom: 0.5em;
}

td,
th {
  text-align: left;
}

th {
  vertical-align: bottom;
}

table.years tbody tr:not(.transactions):hover > td,
table.years tbody tr:not(.transactions):hover > th {
  background-color: hsl(0 0% var(--foreground-lightness) / 5%);
}

tr.transactions {
  color: hsl(0 0% var(--foreground-lightness) / 70%);
}

table.records td,
table.records th,
table.years td,
table.years th {
  padding: 0 0.5em;
}

tfoot td.total {
  border-top: 1px solid hsl(0 0% var(--foreground-lightness) / 40%);
}

td.number,
th.number {
  font-variant-numeric: tabular-nums;
  text-align: right;
}

td.change {
  border-top: 1px solid hsl(0 100% 50% / 20%);
}

form {
  margin: var(--size) 0;
  border: 1px solid hsl(0 0% var(--foreground-lightness) / 40%);
  padding: var(--size);
  width: fit-content;
}

form footer {
  padding-top: var(--size);
  justify-content: space-between;
  gap: var(--size);
}

form button,
footer div.controls button {
  font-weight: bold;
  background-color: hsl(0 0% var(--foreground-lightness) / 5%);
  color: inherit;
  padding: var(--quarter-size) var(--half-size);
}

.kind {
  font-size: 1.4em;
}

.tableContainer {
  width: 100%;
  overflow: auto;
  max-height: calc(100vh - 1em);
}

table.years th:first-child {
  position: sticky;
  left: 0;
  background-color: hsl(40 100% var(--background-lightness) / 90%);
}

table.years thead th {
  position: sticky;
  top: 0;
  padding: .5em;
  background-color: hsl(40 100% var(--background-lightness) / 90%);
}

table.years thead th:first-child {
  left: 0;
  z-index: 2;
}

svg.trend {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.25em;
  stroke-width: 3px;
  fill: none;
}

svg.trend.up {
  stroke: hsl(130 80% 30%);
}

svg.trend.down {
  stroke: hsl(0 80% 40%);
}
